<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8" name="viewport" content="initial-scale=1, width=device-width">
    <meta name="robots" content="noindex" />
    <link rel="stylesheet" href="static/styles.css">
    <link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico">
    <title>Склад</title>
</head>

<a href="/">Стартовая страница</a>
<a href="/table">Таблица склада</a>
<a href="/history">История перемещений</a>

<body>
    {% block body %} {% endblock %}



</body>
</html>